<div class="container">
    <div class="side">
        <!-- About Me-->
        <div id="bio">
            <h2>About Me</h2>
            <img src="https://taylordoesmyhair.s3.amazonaws.com/images/taylor.jpg" alt="Image of Taylor" style="max-width: 300px;">
            <h4>Taylor</h4>
            <ul style="list-style-type: square;">
                <li>Independent Stylist</li>
                <li>Licensed Cosmetologist</li>
            </ul>
        </div>

        <!-- Hours-->
        <div id="business-hours">
            <h2>Hours</h2>
            <!-- TODO Display appropriate error if failure to recieve hours -->
            <table class="hours-table">
                <ng-container *ngFor="let day of hours?.hours">
                    <tr>
                        <td>{{day.dayOfWeek}}</td>
                        <td>{{day.isOpen === 'true' ? day.startTime + ' - ' + day.endTime : 'Closed'}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>

    <div class="main">
        <h2>{{ contactInformation?.businessName }}</h2>
        <h4>{{ contactInformation?.businessAddress }}</h4>
        <div>
            <img src="https://taylordoesmyhair.s3.amazonaws.com/images/AlchemyStoreFront.jpg" alt="Image of salon">
        </div>
        <h2>Location</h2>
        <!--Map-->
    </div>
</div>