<div class="container">
    <div class="side">
        <!-- About Me-->
        <h2>About Me</h2>
        <div>
            <img src="../../assets/images/taylor.jpg" alt="Image of Taylor">
            <h4>Taylor</h4>
            <ul style="list-style-type: square;">
                <li>Independent Stylist</li>
                <li>Licensed Cosmetologist</li>
            </ul>
        </div>

        <!-- Hours-->
        <h2>Hours</h2>

        <div id="business-hours">
            <table class="hours-table">
                <ng-container *ngFor="let day of about?.hours">
                    <tr>
                        <td>{{day.dayOfWeek}}</td>
                        <td>{{day.isOpen === true ? day.startTime + ' - ' + day.endTime : 'Closed'}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>

    <div class="main">
        <h2>{{ contactInformation?.businessName }}</h2>
        <h4>{{ contactInformation?.businessAddress }}</h4>
        <div>
            <img src="../../assets/images/salon-building.jpg" alt="Image of salon">
        </div>
        <!--  <h2>Location</h2> -->
        <!--Map-->
    </div>
</div>