.feedback-form-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 550px;
}

.mat-form-field {
   padding-right: 10px;
   padding-left: 10px;
   max-width: 250px;
   width: 100%;
}

#feedback-textarea {
    padding-top: 10px;
    max-width: 520px;
    width: 100%;
}

#feedback-textarea textarea {
    min-height: 150px;
}

#title-container {
    padding-left: 10px;
}

#submit-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 0px;
}