<div class="component-container">
    <div class="feedback-form-container">
        <div id="title-container">
            <h2>Contact Us</h2>
            <h5>Kindly let us know how we are doing. We would love to hear from you!</h5>
        </div>
        <br>
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="nameFormControl">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. name@example.com" formControlName="emailFormControl">
                <mat-error>
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field id="feedback-textarea" hintLabel="Max 256 characters" appearance="fill">
                <mat-label>Feedback</mat-label>
                <textarea matInput #input formControlName="feedbackFormControl"
                    maxlength="256" placeholder="Ex. Questions, concerns, report a bug"></textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
                <mat-error>
                    This is a <strong>required</strong> field
                </mat-error>
            </mat-form-field>
            <br>
            <div id="submit-button-container">
                <button mat-flat-button color="primary" type="submit" [disabled]="!feedbackForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>