<!--TODO change font and format-->
<div class="component-container">
    <h3>Taylor's Services</h3>
    <div class="offerings-section">
        <mat-card *ngFor="let service of salonServices?.services" class="offerings-card">
            <mat-card-header>
                <div mat-card-avatar class="hair-image"></div>
                <mat-card-title>{{ service.name }}</mat-card-title>
                <mat-card-subtitle>${{ service.cost}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="" alt="Photo of ..."> -->
            <mat-card-content>
                <p>{{ service.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>