<div>
    <hr>
    <div class="grid-container">
        <div id="social">
            <div>
                Follow me!
            </div>
            <div class="social-img">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.instagram.com/{{contactInformation?.instagram}}">
                    <img src="../../assets/images/instagram-logo.png" alt="Instagram" width="20" height="20">
                </a>
            </div>
        </div>
        <div>
            <div id="contact">
                Contact Us
            </div>
        </div>
        <div id="page-info">
            Taylor Does My Hair
            <br>
            2020
        </div>
    </div><!-- Grid Container end-->
</div>